<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout}">

<div layout:fragment="content">
    <div th:replace="~{board/header::header}"></div>
    <div id="boardAllList" th:insert="~{board/all_list::all_list}"></div>
<!--    <div th:replace="~{board/footer::footer}"></div>-->
</div>

<!--<th:block layout:fragment="script">-->
<!--    <script th:inline="javascript">-->
<!--    </script>-->
<!--</th:block>-->
</html>