<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="w-25 p-3 navbar-brand" href="#">전체보기</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<!--                    <span class="navbar-toggler-icon"></span>-->
                    <span class="bi bi-search"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form method="post" class="w-75 p-1 d-flex" role="search">
                        <input id="search" name="search" th:value="${search}" class="form-control me-2" type="search" placeholder="검색 내용 입력" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">검색</button>
                    </form>
                    <ul class="w-25 p-3 navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                정렬
                            </a>
                            <ul id="listOrder" class="dropdown-menu">
                                <li><a id="postCreateDate" class="dropdown-item active" aria-current="true" href="javascript:void(0);" >최신순</a></li>
                                <li><a id="postViewCount" class="dropdown-item" href="javascript:void(0);" >조회순</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>
    </div>
</html>