<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/default_layout}">

<div layout:fragment="content">
    <div id="content">
        <div th:if="${#httpServletRequest.requestURI.contains('/list')}" th:insert="~{post/list::list}"/>
        <div th:if="${#httpServletRequest.requestURI.contains('/write')}" th:insert="~{post/write::write}"/>
        <div th:if="${#httpServletRequest.requestURI.contains('/view')}" th:insert="~{post/view::view}"/>
        <div th:if="${#httpServletRequest.requestURI.contains('/modify')}" th:insert="~{post/modify::modify}"/>
    </div>
</div>

</html>