<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/default_layout}">

<div layout:fragment="content">
    <div id="content">
        <div th:if="${#httpServletRequest.requestURI.contains('/list')}" th:insert="~{post/list::list}"/>
        <div th:if="${#httpServletRequest.requestURI.contains('/writeForm')}" th:insert="~{post/writeForm::writeForm}"/>
        <div th:if="${#httpServletRequest.requestURI.contains('/detail')}" th:insert="~{post/detail::detail}"/>
        <div th:if="${#httpServletRequest.requestURI.contains('/modifyForm')}" th:insert="~{post/modifyForm::modifyForm}"/>
    </div>
</div>

</html>