<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.start.springboot.common.mapper.UserMapper">
    <select id="getUserByUserId" parameterType="String" resultType="UserDto">
        SELECT * FROM TB_USER WHERE USER_ID = #{value}
    </select>

    <select id="getUserByObject" parameterType="UserDto" resultType="UserDto">
        SELECT * FROM TB_USER WHERE USER_ID = #{userId} AND USER_NAME = #{userName}
    </select>
</mapper>

