<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="list" th:if="${pagination}" th:with="postList=${pagination.result.content}">
        <div th:replace="~{post/list_header::list_header}"/>
        <ul th:each="post, iter : ${postList}" th:if="${post.postShowYn == 'Y'}" class="list-group" style="margin-bottom: 10px;">
            <li th:text="'게시글 Id : ' + ${post.postId}" class="list-group-item">게시글 Id</li>
            <li th:text="'게시글 제목 : ' + ${post.postTitle}" class="list-group-item">게시글 제목</li>
            <li th:text="'게시글 내용 : ' + ${post.postContent}" class="list-group-item">게시글 내용</li>
            <!--            <li th:text="'게시글 노출여부 : ' + ${post.postShowYn}" class="list-group-item">게시글 내용</li>-->
            <li th:text="'게시글 작성자 : ' + ${post.postWriter}" class="list-group-item">게시글 작성자</li>
            <li th:text="'게시글 조회수 : ' + ${post.postViewCount}" class="list-group-item">게시글 조회수</li>
            <li th:text="'게시글 작성일 : ' + ${#dates.format(post.postCreateDate, 'yyyy-MM-dd')}" class="list-group-item">게시글 작성일</li>
            <!--            <li th:text="'게시글 - 게시판 Id : ' + ${post.boardId}" class="list-group-item">게시글 - 게시판 Id</li>-->
            <li th:text="'게시글 - 게시판 이름 : ' + ${post.boardName}" class="list-group-item">게시글 - 게시판 이름</li>
            <li th:text="'게시글 - 댓글 갯수 : ' + ${post.attachesCount}" class="list-group-item">게시글 댓글 갯수</li>
            <li th:text="'게시글 - 첨부파일 갯수 : ' + ${post.repliesCount}" class="list-group-item">게시글 첨부파일 갯수</li>
        </ul>
        <div th:replace="~{post/list_footer::list_footer}"/>
    </div>

    <div th:fragment="all_list" th:unless="${pagination}">
        <div th:replace="~{post/list_header::list_header}"/>
        <p style="text-align: center">해당하는 게시글이 없습니다.</p>
        <div th:replace="~{post/list_footer::list_footer}"/>
    </div>
</html>
