<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="list_header">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="w-15 p-3 navbar-brand" href="#" th:text="${boardName}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="bi bi-search"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form method="post" class="w-75 p-1 d-flex" role="search">
                        <select id="searchType" name="searchType" style="margin-right: 5px;" class="w-25 p-3 form-select" aria-label="Default select">
                            <option value="all" th:selected="${search.searchType} == 'all'">제목 + 내용</option>
                            <option value="title" th:selected="${search.searchType} == 'title'">제목</option>
                            <option value="content" th:selected="${search.searchType} == 'content'">내용</option>
                        </select>
                        <input id="searchWord" name="searchWord" th:value="${search.searchWord}" class="form-control me-2" type="search" placeholder="검색 내용 입력" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">검색</button>
                    </form>
                    <select id="orderType" class="w-25 p-3 form-select" aria-label="Default select">
                        <option value="postCreateDate" th:selected="${search.orderType} == 'postCreateDate'">최신순</option>
                        <option value="postViewCount" th:selected="${search.orderType} == 'postViewCount'">조회순</option>
                    </select>
                </div>
            </div>
        </nav>
        <br>
        <p>
            총
            <em class="text-primary" style="font-style: normal; font-size: x-large;" th:if="${#strings.length(totalElements) >= 3}" th:text="${#numbers.formatInteger(totalElements, 3, 'COMMA')}"></em>
            <em class="text-primary" style="font-style: normal; font-size: x-large;" th:unless="${#strings.length(totalElements) >= 3}" th:text="${totalElements}"></em>
            개의 게시글이 있습니다.
            <a th:if="${boardName ne '전체보기'}" th:href="@{/board/{boardId}/write(boardId=${boardId})}" class="btn btn-primary" style="float: right;" type="button">글쓰기</a>
        </p>
    </div>
</html>