<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="modifyForm">
    <section class="text-bg-light">
        <h1 style="text-align: center;">게시판 글쓰기</h1>
        <br>
        <p>
            현재 게시글은
            <em class="text-primary" style="font-style: normal; font-size: xx-large;" th:text="${boardName}"></em>
            게시판의 글입니다.
        </p>
        <br>
        <form id="writePostForm">
            <div class="mb-3">
                <label for="boardId" class="form-label">게시판</label>
                <select id="boardId" name="boardId" class="w-25 p-3 form-select" aria-label="Default select">
                    <option th:each="board : ${boarList}" th:if="${board.boardName ne '전체보기'}" th:value="${board.boardId}" th:text="${board.boardName}"></option>
                </select>
                <!-- 로그인 기능 구현되면 지우기 -->
                <input id="postWriter" name="postWriter" value="자바" type="hidden">
            </div>

            <div class="mb-3">
                <label for="postTitle" class="form-label">제목</label>
                <input id="postTitle" th:value="${postDetail.postTitle}" name="postTitle" class="form-control form-control-lg" type="text" placeholder="제목을 입력해주세요.">
            </div>

            <div class="mb-3">
                <label for="attachFiles" class="form-label">첨부파일</label>
                <input id="attachFiles" name="attachFiles" onchange="addListTag(this);" class="form-control form-control-lg" type="file" multiple>
                <ul id="fileList" class="list-group">
                    <li th:if="${postDetail.attachesCount > 0}" th:each="attach : ${postDetail.attachDtos}" class="list-group-item list-group-item-secondary">
                        [(${attach.attachOriginalName})]
                        <input name="originalAttachId" th:value="${attach.attachId}" type="hidden">
                        <button data-index="" onclick="removeListTag(this);" style="margin-left: 10px;" class='btn btn-danger' type="button">X</button>
                    </li>
                </ul>
            </div>

            <div class="mb-3 ">
                <label for="summernote" class="form-label">내용</label>
                <div id="summernote" th:utext="${postDetail.postContent}"></div>
            </div>

            <div style="float: right;">
                <button id="btnSave" type="button" onclick="btnSaveClick();" class="btn btn-outline-success">확인</button>
                <button id="btnCancel" type="button" onclick="btnCancelClick();" class="btn btn-outline-danger">취소</button>
            </div>
        </form>
    </section>
    <div th:replace="~{post/modifyForm_footer::modifyForm_footer}"/>
</div>
</html>