<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="modify_footer">
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(function () {
                $('#summernote').summernote({
                    placeholder: '내용을 입력해주세요.',
                    tabsize: 2,
                    height: 600,
                    lang: 'ko-KR', // default: 'en-US'
                    toolbar: [
                        ['style', ['style']],
                        ['font', ['bold', 'underline', 'clear']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['table', ['table']],
                        ['insert', ['link', 'picture']],
                        ['view', ['codeview']]
                    ],
                    codeviewFilter: true,
                    codeviewIframeFilter: true
                });
            });

            function btnSaveClick() {
                let url = $(location).attr('pathname');
                let form = $('#writePostForm')[0];
                let formData = new FormData(form);
                formData.append("postContent", $('#summernote').summernote('code'));

                $.ajax({
                    type: 'post',
                    enctype: 'multipart/form-data',
                    url: url,
                    async: false,
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        location.href = "/board/[(${boardId})]/view/" + result.postId;
                    },
                    error: function (request, status, error) {
                        if (request.responseJSON) {
                            alert(request.responseJSON.message);
                        }
                    }
                })
            }

            function btnCancelClick() {
                if (confirm("작성중인 내용은 저장되지 않습니다.")) {
                    history.back();
                }
            }

            let dataTranster = new DataTransfer();

            function setFileData(obj) {
                Array.from(obj.files)
                    .forEach(file => {
                        dataTranster.items.add(file);
                    });
            }

            function addListTag(obj) {
                setFileData(obj);
                let files = Array.from(obj.files);
                files.forEach(file => {
                    let htmlTag = '';
                    htmlTag += `
                        <li id="${file.lastModified}" class="list-group-item list-group-item-secondary">
                            ${file.name}
                            <button data-index='${file.lastModified}' onclick="removeListTag(this);" style="margin-left: 10px;" class='btn btn-danger' type="button">X</button>
                        </li>`;
                    $("#fileList").append(htmlTag);
                });
                $('#attachFiles')[0].files = dataTranster.files;
            }

            function removeListTag(obj) {
                if (obj.dataset.index) {
                    let removeTargetId = obj.dataset.index;
                    let removeTarget = $("#"+removeTargetId);
                    let num = $("#fileList > li").index(removeTarget);
                    dataTranster.items.remove(num);
                    $('#attachFiles')[0].files = dataTranster.files;
                    removeTarget.remove();
                } else {
                    obj.parentNode.remove();
                }
            }
        </script>
    </th:block>
</div>
</html>