<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="view_footer">
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            function downloadFile(postId, attachId) {
                location.href = "/board/[(${boardId})]/" + postId + "/download/" + attachId;
            }

            function btnModifyClick() {
                alert("수정화면 불러오기");
            }

            function btnDeleteClick() {
                alert("게시글 삭제하기");
            }

            function btnListClick() {
                location.href = "/board/[(${boardId})]/list";
            }
        </script>
    </th:block>
</div>
</html>