<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="view">
        <section class="text-bg-light">
            <h1 style="text-align: center;">게시글 상세</h1>
            <br>
            <p>
                현재 게시글은
                <em class="text-primary" style="font-style: normal; font-size: xx-large;" th:text="${boardName}"></em>
                게시판의 글입니다.
            </p>
            <br>
            <main class="form-signin" style="max-width: 100%;">
                <div class="container border rounded flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="form-floating m-3">
                        <h3 th:text="'제목 : ' + ${postDetail.postTitle}"></h3>
                    </div>
                    <div class="form-floating m-3 border-top border-1">
                        <div style="margin-top: 10px; font-size: x-large;">
                            <div class="row">
                                <div class="col" th:text="'작성일 : ' + ${#dates.format(postDetail.postUpdateDate, 'yyyy-MM-dd')}"></div>
                                <div class="col"></div>
                                <div class="col" th:text="'조회수 : ' + ${postDetail.postViewCount}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating m-3 border-top border-1" th:if="${postDetail.attachesCount > 0}">
                        <ul class="list-inline" style="margin-top: 10px;">
                            <li class="list-inline-item" style="font-size: x-large;">첨부파일 : </li>
                            <li id="postTitle" th:each="attach : ${postDetail.attachDtos}" class="list-inline-item" style="width: fit-content">
                                <button class="btn btn-secondary" th:postId="${attach.post.postId}" th:attachId="${attach.attachId}" th:onclick="downloadFile(this.getAttribute('postId'), this.getAttribute('attachId'))" th:if="${#strings.length(attach.attachOriginalName) > 15}" th:text="${#strings.substring(attach.attachOriginalName, 0, 15)} + ' ...'" type="button"></button>
                                <button class="btn btn-secondary" th:postId="${attach.post.postId}" th:attachId="${attach.attachId}" th:onclick="downloadFile(this.getAttribute('postId'), this.getAttribute('attachId'))" th:unless="${#strings.length(attach.attachOriginalName) > 15}" th:text="${attach.attachOriginalName}" type="button"></button>
                            </li>
                        </ul>
                    </div>
                    <div class="form-floating m-3 border border-3" style="font-size: x-large; text-align: center;" th:utext="${postDetail.postContent}"></div>
                </div>
            </main>

            <div style="float: right;">
                <button id="btnModify" type="button" onclick="btnModifyClick();" class="btn btn-outline-success">수정</button>
                <button id="btnDelete" type="button" onclick="btnDeleteClick();" class="btn btn-outline-warning">삭제</button>
                <button id="btnList" type="button" onclick="btnListClick();" class="btn btn-outline-danger">목록</button>
            </div>
        </section>
        <div th:replace="~{post/view_footer::view_footer}"/>
    </div>
</html>