<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="write_footer">
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(function () {
                $('#summernote').summernote({
                    placeholder: '내용을 입력해주세요.',
                    tabsize: 2,
                    height: 600,
                    lang: 'ko-KR', // default: 'en-US'
                    toolbar: [
                        ['style', ['style']],
                        ['font', ['bold', 'underline', 'clear']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['table', ['table']],
                        ['insert', ['link', 'picture']],
                        ['view', ['codeview']]
                    ],
                    codeviewFilter: true,
                    codeviewIframeFilter: true
                });

                // var markupStr = $('#summernote').summernote('code'); // get
                // var markupStr = 'hello world';
                // $('#summernote').summernote('code', markupStr); // set
            });

            function btnSaveClick() {
                let url = $(location).attr('pathname');
                let form = $('#writePostForm')[0];
                let formData = new FormData(form);
                formData.append("postContent", $('#summernote').summernote('code'));

                $.ajax({
                    type: 'post',
                    enctype: 'multipart/form-data',
                    url: url,
                    async: false,
                    data: formData,
                    // dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        // location.href = "/board/[(${boardId})]/list";
                        location.href = "/board/[(${boardId})]/view/" + result.postId;
                    },
                    error: function (request, status, error) {
                        if (request.responseJSON) {
                            alert(request.responseJSON.message);
                        }
                    }
                })
            }

            function btnCancelClick() {
                location.href = "/board/[(${boardId})]/list";
            }
        </script>
    </th:block>
</div>
</html>