<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="write">
        <section class="text-bg-light">
            <h1 style="text-align: center;">게시판 글쓰기</h1>
            <br>
            <p>
                현재 게시판은
                <em class="text-primary" style="font-style: normal; font-size: xx-large;" th:text="${boardName}"></em>
                입니다.
            </p>
            <br>
            <form id="writePostForm">
                <div class="mb-3">
                    <label for="boardId" class="form-label">게시판</label>
                    <select id="boardId" name="boardId" class="w-25 p-3 form-select" aria-label="Default select">
                        <option th:if="${boardName eq '전체보기'}" value="" selected>게시판을 선택해주세요.</option>
                        <option th:unless="${boardName eq '전체보기'}" th:value="${boardId}" th:text="${boardName}" selected></option>
                        <option th:each="board : ${boarList}" th:if="${boardName eq '전체보기' and board.boardName ne '전체보기'}" th:value="${board.boardId}" th:text="${board.boardName}"></option>
                    </select>
                    <!-- 로그인 기능 구현되면 지우기 -->
                    <input id="postWriter" name="postWriter" value="자바" type="hidden">
                </div>

                <div class="mb-3">
                    <label for="postTitle" class="form-label">제목</label>
                    <input id="postTitle" name="postTitle" class="form-control form-control-lg" type="text" placeholder="제목을 입력해주세요.">
                </div>

                <div class="mb-3">
                    <label for="files" class="form-label">첨부파일</label>
                    <input id="files" name="files" class="form-control form-control-lg" type="file" multiple>
                </div>

                <div class="mb-3 ">
                    <label for="summernote" class="form-label">내용</label>
                    <div id="summernote"></div>
                </div>

                <div style="float: right;">
                    <button id="btnSave" type="button" onclick="btnSaveClick();" class="btn btn-outline-success">확인</button>
                    <button id="btnCancel" type="button" onclick="btnCancelClick();" class="btn btn-outline-danger">취소</button>
                </div>
            </form>
        </section>
        <div th:replace="~{post/write_footer::write_footer}"/>
    </div>
</html>